<div class="container pb-5">
  <p class="status"></p>
  <div id="chart-wrapper">
    <canvas id="bots-by-followers"></canvas>  
  </div>
  <p id="data-last-update" class="d-none">Data updated <span id="data-last-update-value"></span>.</p>
  <p>
    <em>Note: Clicking a bar in the chart opens the corresponding bot's Twitter page.</em>
  </p>
  <div class="mt-5">
      Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>
      <a class="btn btn-light btn-sm" href="https://glitch.com/edit/#!/{{project_name}}?path=README.md">View source</a>
  </div>  
</div>
